<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <title>cod</title>
    <link href="index_style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table cellspacing="0" cellpadding="0" class="center-form">
    <tr>
        <td>
            <form action="signup" class="form-row">
                <button type="submit">Sign Up</button>
            </form>
        </td>
        <td>
            <form action="/signin" class="form-row">
                <button type="submit">Sign In</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>